<!DOCTYPE html>
<html>
  <head>
    <title>AboutMeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container text-center">
      <%= yield %>
    </div>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="text-muted">&copy; 2022 Arif Kalluru</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="https://github.com/Arif-Kalluru" target="_blank"><%= image_tag("github-icon.svg", alt: "github-icon") %></a></li>
        </ul>
      </footer>
    </div> 

  </body>
</html>
